<div class="myBody">
  <form novalidate [formGroup]='addGenreForm' (ngSubmit)="finishEditingGenre()">
    <div class="genreDiv">
      
        <div [hidden]="searchResult" *ngFor = "let item of searchResGenre">
           {{item.genre}}
        </div>
        <div [hidden] = "success">
           Genre successfully edited
        </div>
        <div>
            Enter genre <input type="text" #myGenreField formControlName="newGenre" id='inputAddGenre'>
        </div>
        <div *ngIf="addGenreForm.controls.newGenre.invalid && addGenreForm.controls.newGenre.touched " class="alert">
          Required field. Latin letters only. 
        </div>
        <div>
          <input type="submit" class="btn" [disabled]="delete" value="Save editing">
          <input type="button"  class="btn" [hidden]="search" value="Search genre" (click)="searchGenre()">
          <input type="button"  class="btn" [hidden]="delete" value="Delete genre" (click)='deleteGenre(searchResGenre[0].id)'>
        </div>
    </div>
  </form>
</div>
