<div id="myBody">
  <div class="block">
    <router-outlet></router-outlet>
    <nav>
      <div><h1>My library</h1></div>
      <a routerLink="/add-authors" class="btn" routerLinkActive="active">add-authors</a>
      <a routerLink="/display-authors" class="btn" routerLinkActive="active">display-authors</a>
      <a routerLink="/edit-authors" class="btn" routerLinkActive="active">edit-authors</a>
      <hr>
      <a routerLink="/add-books" class="btn" routerLinkActive="active">add-books</a>
      <a routerLink="/display-books" class="btn" routerLinkActive="active">display-books</a>
      <a routerLink="/edit-books" class="btn" routerLinkActive="active">edit-books</a>
      <hr>
      <a routerLink="/add-genres" class="btn" routerLinkActive="active">add-genres</a>
      <a routerLink="/display-genres" class="btn" routerLinkActive="active">display-genres</a>
      <a routerLink="/edit-genres" class="btn" routerLinkActive="active">edit-genres</a>
    </nav>
  </div>
</div>