<div id="myBody" >
  <div class="block">
    <router-outlet></router-outlet>
    <nav>
      <div><h1>My library</h1></div>
      <a routerLink="/add-author" class="btn" routerLinkActive="active">add-author</a>
      <a routerLink="/display-authors" class="btn" routerLinkActive="active">display-authors</a>
      <a routerLink="/edit-author" class="btn" routerLinkActive="active">edit-author</a>
      <hr>
      <a routerLink="/add-book" class="btn" routerLinkActive="active">add-book</a>
      <a routerLink="/display-books" class="btn" routerLinkActive="active">display-books</a>
      <a routerLink="/edit-book" class="btn" routerLinkActive="active">edit-book</a>
      <hr>
      <a routerLink="/add-genre" class="btn" routerLinkActive="active">add-genre</a>
      <a routerLink="/display-genres" class="btn" routerLinkActive="active">display-genres</a>
      <a routerLink="/edit-genre" class="btn" routerLinkActive="active">edit-genre</a>
    </nav>
    
  </div>
</div>



