<div class="myBody">
    <div class="block">
        <div class="genre">Enter new genre</div>
        <form novalidate [formGroup]='addGenreForm' (ngSubmit)="addGenre()">
            <input type="text" #myGenreField formControlName="newGenre" placeholder="genre">
            <div *ngIf="addGenreForm.controls['newGenre'].invalid && addGenreForm.controls['newGenre'].touched " class="alert">
                Required field. Latin letters only. 
            </div>
            <input type="submit" class="btn" [disabled]="addGenreForm.invalid" value="Add genre">
        </form>
        <div [hidden]='alarmSearchGenreDiv' class="existsGenre">
            Such a genre exists!
        </div>
        <div [hidden]="successfull" class="added">
            New genre added successfully!
        </div>
    </div>
    
</div>
