.myBody{
    width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.alert{
    background: pink;
    padding: 5px;
}
.ng-valid:not(form){
    border: 3px solid lightgreen;
}
.btn{
    width: 100px;
    height: 25px;
    border: solid 1px;
    border-radius: 10px;
    margin-left: 109px;
}
.block{
    display: inline-flex;
}
input{
    display: block;
    margin: 5px 0;
    width: 200px;
    height: 18px;
}
.genre{
        margin: 10px 0 ;
        width: 180px;
        height: 20px;
}
.existsGenre{
    font-weight: bold;
    color:hotpink;
    margin: 9px;    
}
.added{
    font-weight: bold;
    margin: 9px;  
    color: green;
}