<div class="myBody">
    <div class="blockDiv">
      <div>
        <div class="author">Surname</div>
        <div class="author">Name</div>
        <div class="author">Middle name</div>
        <div class="author">Birth</div>
      </div>
      <form novalidate [formGroup]="authorForm" (ngSubmit)="addAuthor()" >
        <input #surnameField  type="text" formControlName = "surname" placeholder="London" id='surname' >
        <div *ngIf="authorForm.controls['surname'].invalid && authorForm.controls['surname'].touched " class="alert">
          Required field. Latin letters only. 
        </div>
        <input #nameField type="text" formControlName = "name" placeholder="Jack" id='name'>
        <div *ngIf="authorForm.controls['name'].invalid && authorForm.controls['name'].touched " class="alert">
          Required field. Latin letters only. 
        </div>
        <input type="text" #middleNameField formControlName="middleName" id="middlename">
        <div *ngIf="authorForm.controls['middleName'].invalid && authorForm.controls['middleName'].dirty " class="alert">
          Required field. Latin letters only. 
        </div>
        <input #birthField type = "text" formControlName="birth" placeholder="dd-mm-yyyy" id='birth'>
         <div *ngIf="authorForm.controls['birth'].invalid && authorForm.controls['birth'].touched " class="alert">
           Required field. Wrong data format. Needed : dd-mm-yyyy 
         </div>
        <input type="submit" id="inputAuthor" class="btn" value="add author" [disabled]="authorForm.invalid">
      </form> 
      <div [hidden]="successfull" class="added">
        New author added successfully
      </div>
    </div> 
  </div>
